<app-header></app-header>

<html>
<head>
	<title>  </title>
	
	
</head>
<body>
	
	
	
	<div class="middle">
		<div style="background-image:url('assets/images/maxresdefault.jpg');">
		
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> Tasty And Healthy Items </font> <br> <br>

					<font color="#000" size="5px"> Good Food-Good Nutrition! </font> <br> <br>

Breakfast is good for you because it keeps you going through the day. It helps your mind think and concentrate. Breakfast is good nutrition for your soul. Breakfast is like filling your car with gas in the morning. 
To me, breakfast is the most important part of the day.<br><br>
Breakfast is eaten all over the world children and adults all ages and all
races. Breakfast gives me energy that I need for the day. <br><br>
<ul>

<li> "Without breakfast, I would go crazy"
<li>"Breakfast is the most important meal of the day"
<li> "Breakfast is a sacred meal"
<li> That is why breakfast is good and important for everyone, all ages. 
</ul>
<br>
 </td>
					
					
					<td> </td>
				</tr>
			
				
			</table>
		</div>
	</div>
